@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GENERALIDADES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    overflow-x:hidden ;
}

/* Ancho del body = 100% del contenedor padre */
/* el posicionamiento de elementos dentro del body se realizará en relación con su posición normal en el flujo del documento */
/* oculta el desplazamiento horizontal del body */


body {
    width: 100%; 
    position: relative; 
    overflow-x: hidden; 
    padding: 0.5em 0 0 0;
    background-color:whitesmoke;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid yellow; Borrar al final */
}

.header {
    /* background-color: purple;
    box-shadow: 1px 1px 5px 0px purple; */
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 40% 10% 10%;
    grid-template-rows: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

/* LOGO SWIPE */
.logo-swipe {
    display:inline-block;
    margin: 0.1em 0 1em 0.75em;
    width: 4.6rem;
    height: 4rem;
    grid-column-start: 1;
    /* border: 2px solid mediumaquamarine; */
}

/* NAVBAR */
.navbar {
    display: flex;
    padding: 0.5em 0.5em;
    margin: 0.3em 0 0.3rem 7em;
    box-sizing: border-box;
    position: fixed;
    width: 70%;
    max-width: 71.5em;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    max-height: 8rem;
    transition: max-height .4s ease-out;
    /* border: 2px solid orange; */
}

ul {
    list-style-type: none;
}

ul {
    display: flex;
}


/* ITEMS - OPTIONS NAV */
.menu li {
    margin: 0 0.18em 0.31em 0.93em;
    display: flex;
    justify-content: center;
    grid-column-start: 3;    
}

.menu a {
    display: flex;
    padding: 0.50em;
    position: relative;
    justify-content:space-around;  
    color:white; 
    display: block;
    text-decoration: none;
    font-size: 1em; 
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
    color: rgb(59, 15, 100)
}

/* MENÚ HAMBURGUESA */
.hamb {
    cursor:pointer;
    float: right;
    padding: 2.5em 1.25em;
    border: 2px solid thistle;
}

.hamb-line {
    background-color: white;
    display: block;
    width: 1.5em;
    height: 0.12em;
    position: relative;
    
}

.hamb-line::before, .hamb-line::after {
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-out;
    width: 100%;
}

.hamb-line::before {
    top:5px;
}

.hamb-line::after {
    top:-5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~nav {
    max-height: 100%;
}

.side-menu:checked ~.hamb .hamb-line {
    background-color: transparent;
}

.side-menu:checked ~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

#gradient-canvas {
    z-index: -1;
    width: 200%;
    height: 60.6em;
    transform: rotate(-10deg);
    position: absolute;
    top: -37.5em;
    left: -50%;
    background: radial-gradient(ellipse at center, rgb(224, 39, 212), blueviolet, rgb(68, 205, 255),rgb(155, 88, 255), rgb(233, 88, 190), rgb(249, 193, 54)), rgb(50, 122, 205);
    background-size: 600% 600%; /* Aumentamos el tamaño del gradiente para crear el efecto de movimiento */
    animation: animate 26s linear infinite; /* Utilizamos "linear" para una animación uniforme */
}
@keyframes animate {
    0% {
        background-position: 0% 0%;
    } 
    100% {
        background-position: 100% 100%; /* Movemos los colores al 100% del eje X y Y */
    }
}

/* ENCABEZADO */
h1.headline {
    padding-top: 0.31em;
    font-size: 4.68em;
    font-weight: 600;
    font-family: "Anek Telugu";
    line-height: 1.1;
    letter-spacing: -1;
    /* border: 2px solid yellow; */
}

.p-left {
    font-family:"Roboto";
    font-size: 1.12em;
    font-weight: 400;
    color: #000;
    margin: 1em 0; 
    /* border: 2px solid yellow; */
}
/* BUTTON SING-IN - NAV */
.btn.btn-dark {
    background-color: rgb(170, 116, 220);
    grid-column-end: 1;
    color: white;
    width: 5.62em;
    height: 2.3em;
    border: none;
    border-radius: 18px;
    position:relative;
    font-weight: bold;
    font-size:0.91em;
    text-align: center;
    letter-spacing: 0.07em;
    right: 1rem;
    padding: 0.5em;
    margin: 1em 0 0 3em;
    box-sizing: border-box;
}

.btn:hover {
    background-color:whitesmoke;
    border-color: #a600ff;
    opacity: 0.75;
    cursor: pointer;
}

/* ------HERO SECTION -----*/
/* CONTENEDOR HERO */
/* CONTENEDOR 2COLUMNS */
.container-hero {
    display: flex;
    width: 100%;
    justify-content:center;
    box-sizing: border-box;
    /* border: 5px solid red; */
}


/* COLUMNA IZQUIERDA */
.column-left {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items:center;
    box-sizing: border-box;
    padding: 0 1em 1em 0;
    /* border: 2px solid aqua; */
}

/* INFORMACIÓN DE LA COLUMNA 1 */
.info-left {
    width: 35em;
    padding: 1.8em;
    /* border: 5px solid black; */
}

.container-btn {
    width: 100%;
    height: 3.12em;
    display: flex;
    align-items:first baseline;  
    margin: 0.12em 0;
    padding-top: 1.56em; 
}

.container-btn {
    display: grid;
    grid-template-columns: 33% 67% ;
}

button.btn-start {
    background-color: black;
    color: white;
    border: none;
    border-radius: 1.12em;
    width: 8.62em;
    height: 2.37em;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.07em;
    display: flex;
    align-items:center;
    justify-content: center;    
}

.btn-start:hover {
    opacity: 0.77;
    cursor: pointer;
    background-color: rgb(42, 42, 42);
    border-bottom: blueviolet;
    transform: translateX(0.31em);
    color:greenyellow;
    transition: ease-in-out 0.4s;
}


.btn-contact-sales {
    background-color: transparent;
    border: none;
    border-radius: 1.12em;
    width: 10em;
    height: 2.37em;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.07em;
    display: flex;
    align-items:center;
    justify-content:center;
}

.btn-contact-sales a {
    text-decoration: none;
    color: #7000ff;
}

.btn-contact-sales:hover {
    opacity: 0.77;
    cursor: pointer;
    border-bottom: rgb(167, 100, 233);
    transform: translateX(0.31em);
    transition: ease-in-out 0.4s;
}

/* IMG COLUMNA 2 */
.column-right {
    width: 100%;
    height: 37.5em;
    display: flex;
    justify-content:flex-end;
    /* border: 3px solid yellow; */
}

.phone-img {
    display: flex;
    margin-top: 1rem;
    align-self:center;
    width: 19.8em;
}

.logos-section {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 4px solid blue; */

}
.container-logos {
    width: 90%;
    /* border: 3px solid yellowgreen; */
}

.logos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.12em;
    row-gap: 0.93em;  
}

.logos-grid .item {
    width: 95%;
}

@media screen and (max-width: 2560px) {
    .hamb {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
    #gradient-canvas {
        height: 51.6em;
    }
    .header {
        position: sticky;
        top: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 10% 10% 40% 10% 10%;
        grid-template-rows: 100%;
        display: flex;
        justify-content:space-between;
    }
    .nav{
        display: none;
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    } 
    .hamb {
        display:block;
        float: right;
        order: 3;
        padding: 0.7em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0.8em 1em 2.5em;
        border-radius: 1.12em;;
        border: none;
        width: 3.4em;
        height: 2.10em;
        background-color: rgba(250, 250, 250, 0.25) ;
    }
    .hamb-line {
        width:1.2em ;
    }
    .logo-swipe {
        margin-left: 1em;
        width: 4.2rem;
        height: 4rem;
    }
    .menu {
    display: none;
    }
    .btn.btn-dark {
    display: none;
    }
    .container-hero {
        width: 100%;
        height: 33.6em;
        margin-top: 1em;
    }
    .column-left {
    width: 35em;
    position: relative;
    display: flex;
    justify-content:baseline;
    /* margin-left: 1em; */
    }
    .info-left {
    width: 34em;
    height: 30em;
    justify-content:center;
    }
    h1.headline {
    font-size: 3.5em;
    padding:0.31em 1.1em 0 0;
    justify-content:center;
    text-align: left;
    }
    .p-left {
        font-size: 1.10em;
        font-weight: 400;
        color: #000;
        margin: 0.3em 0 0 0; 
    }
    .container-btn {
        display: grid;
        grid-template-columns: 33% 67% ;
        align-items:flex-start;
        margin: 0.em 0 5.7em;
        padding-top: 1.59em; 
    }
    .column-right {
        width: 15.9em;
        height: 33em;
        justify-content: center;
    }
    .phone-img {
    /* display: flex; */
    margin-top: 0.5rem;
    margin-right: 1.5em;
    width: 15.8em;
    }
}




@media screen and (max-width: 375px) {
    .column-right {
        display: none;
    }
    .column-left {
        width: 18em;
    }
    .info-left {
        width: 21em;
        padding: 0 1em 0 1em;
    }
    h1.headline {
        width: 20em;
        font-size: 3.5em;
        letter-spacing: -0.30;
    }
    p.p-left {
        font-size: 1.10em;
        margin: 1em 0;
        width: 20em;
        height: 6.5em;
    }
    .container-btn {
        display: grid;
        grid-template-columns: 45% 45%;
        align-items: center;
    }
    button.btn-start {
        width: 7.1em;
        height: 3.5em;
        text-align: justify;
        padding: 0.5em 1em;
        text-align: center;
        line-height: 1.2;
    }
    .btn-contact-sales {
        width: 6em;
        text-align: center;
        line-height: 1.2;
    }
    .logos-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
        margin-bottom: 4em;  
    }
    .logos-grid .item {
        width: 97%;
    }
}

@media screen and (max-width: 425px) {
    .column-right {
        display: none;
    }
    .column-left {
        width: 18em;
    }
    .info-left {
        width: 21em;
        padding: 0 1em 0 1em;
    }
    h1.headline {
        font-size: 3.5em;
        letter-spacing: -0.30;
    }
    p.p-left {
        font-size: 1.11em;
        margin: 1em 0;
        width: 16em;
    }
    .container-btn {
        display: grid;
        grid-template-columns: 45% 45%;
        align-items: center;
    }
    button.btn-start {
        width: 7.1em;
        height: 3.5em;
        text-align: justify;
        padding: 0.5em 1em;
        text-align: center;
        line-height: 1.2;
    }
    .btn-contact-sales {
        width: 6em;
        text-align: center;
        line-height: 1.2;
    }
    .logos-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
        margin-top: 2.5em;
        margin-bottom: 4em;  
    }
    .logos-grid .item {
        width: 97%;
    }
}

