@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GENERALIDADES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    overflow-x:hidden ;
}
body {
    width: 100%; 
    position: relative; 
    overflow-x: hidden; 
    padding: 0.5em 0 0 0;
    background-color:whitesmoke;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% 10% 40% 10% 10%;
    grid-template-rows: 100%;
    display: flex;
    justify-content: space-between;
}
/* LOGO SWIPE */
.logo-swipe {
    display:inline-block;
    margin: 0.1em 0 1em 0.75em;
    width: 4.6rem;
    height: 4rem;
    grid-column-start: 1;
}
/* NAVBAR */
.navbar {
    display: flex;
    padding: 0.5em 0.5em;
    margin: 0.3em 0 0.3rem 7em;
    box-sizing: border-box;
    position: fixed;
    width: 70%;
    max-width: 71.5em;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    max-height: 8rem;
    transition: max-height .4s ease-out;
}
ul {
    list-style-type: none;
}
ul {
    display: flex;
}

/* ITEMS - OPTIONS NAV */
.menu li {
    margin: 0 0.18em 0.31em 0.93em;
    display: flex;
    justify-content: center;
    grid-column-start: 3;    
}
.menu a {
    display: flex;
    padding: 0.50em;
    position: relative;
    justify-content:space-around;  
    color:white; 
    display: block;
    text-decoration: none;
    font-size: 1em; 
    font-weight: bold;
}
.menu a:hover {
    text-decoration: underline;
    color: rgb(59, 15, 100)
}

/* MENÚ HAMBURGUESA */
.hamb {
    cursor:pointer;
    float: right;
    padding: 2.5em 1.25em;
    border: 2px solid thistle;
}
.hamb-line {
    background-color: white;
    display: block;
    width: 1.5em;
    height: 0.12em;
    position: relative;   
}
.hamb-line::before, .hamb-line::after {
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-out;
    width: 100%;
}
.hamb-line::before {
    top:5px;
}
.hamb-line::after {
    top:-5px;
}
.side-menu {
    display: none;
}
.side-menu:checked ~nav {
    max-height: 100%;
}
.side-menu:checked ~.hamb .hamb-line {
    background-color: transparent;
}
.side-menu:checked ~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}
#gradient-canvas {
    z-index: -1;
    width: 200%;
    height: 60.6em;
    transform: rotate(-10deg);
    position: absolute;
    top: -37.5em;
    left: -50%;
    background: radial-gradient(ellipse at center, rgb(224, 39, 212), blueviolet, rgb(68, 205, 255),rgb(155, 88, 255), rgb(233, 88, 190), rgb(249, 193, 54)), rgb(50, 122, 205);
    background-size: 600% 600%; /* Aumentamos el tamaño del gradiente para crear el efecto de movimiento */
    animation: animate 26s linear infinite; /* Utilizamos "linear" para una animación uniforme */
}
@keyframes animate {
    0% {
        background-position: 0% 0%;
    } 
    100% {
        background-position: 100% 100%; /* Movemos los colores al 100% del eje X y Y */
    }
}

/* ENCABEZADO */
.headline {
    padding-top: 0.31em;
    font-size: 4.68em;
    font-weight: 600;
    font-family: "Anek Telugu";
    line-height: 1.1;
    letter-spacing: -1;
}
.p-left {
    font-family:"Roboto";
    font-size: 1.12em;
    font-weight: 400;
    color: #000;
    margin: 1em 0; 
}
/* BUTTON SING-IN - NAV */
.btn.btn-dark {
    background-color: rgb(170, 116, 220);
    grid-column-end: 1;
    color: white;
    width: 5.62em;
    height: 2.3em;
    border: none;
    border-radius: 18px;
    position:relative;
    font-weight: bold;
    font-size:0.91em;
    text-align: center;
    letter-spacing: 0.07em;
    right: 1rem;
    padding: 0.5em;
    margin: 1em 0 0 3em;
    box-sizing: border-box;
}
.btn:hover {
    background-color:whitesmoke;
    border-color: #a600ff;
    opacity: 0.75;
    cursor: pointer;
}

/* ------HERO SECTION -----*/
.container-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1024px;
    margin: 0 auto;
}
/* CONTENEDOR HERO */
/* CONTENEDOR 2COLUMNS */
.container-hero {
    display: flex;
    width: 100%;
    justify-content:center;
    box-sizing: border-box;
}

/* COLUMNA IZQUIERDA */
.column-left {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items:center;
    box-sizing: border-box;
    padding: 0 1em 1em 0;
}

/* INFORMACIÓN DE LA COLUMNA 1 */
.info-left {
    width: 35em;
    padding: 1.8em;
}
.container-btn {
    width: 100%;
    height: 3.12em;
    display: flex;
    align-items:first baseline;  
    margin: 0.12em 0;
    padding-top: 1.56em; 
}
.container-btn {
    display: grid;
    grid-template-columns: 33% 67% ;
}
.btn-start {
    background-color: black;
    color: white;
    border: none;
    border-radius: 1.12em;
    width: 8.6em;
    height: 2.37em;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items:center;
    justify-content: center; 
    overflow: hidden;   
}
.btn-start:hover {
    opacity: 0.77;
    cursor: pointer;
    background-color: rgb(42, 42, 42);
    border-bottom: blueviolet;
    color:greenyellow;
}
img.start-flecha1 {
    transition: ease-in-out 0.4s;  
} 
.btn-start:hover .start-flecha1 {
    transform: translateX(0.31em);
}
.btn-contact-sales {
    background-color: transparent;
    border: none;
    border-radius: 1.12em;
    width: 10em;
    height: 2.37em;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.07em;
    display: flex;
    align-items:center;
    justify-content:center;
}
.btn-contact-sales a {
    text-decoration: none;
    color: #7000ff;
}
.btn-contact-sales:hover {
    opacity: 0.77;
    cursor: pointer;
    border-bottom: rgb(167, 100, 233);
    transform: translateX(0.31em);
    transition: ease-in-out 0.4s;
}

/* IMG COLUMNA 2 */
.column-right {
    width: 100%;
    height: 37.5em;
    display: flex;
    justify-content:flex-end;
}
.phone-img {
    display: flex;
    margin-bottom: 2em;
    align-self:center;
    width: 19.8em;
}
.logos-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1em ;
    margin-bottom: 4em ;
}
.container-logos {
    max-width: 1024px;
    margin: 0 auto;
}
.logos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.12em;
    row-gap: 0.93em;  
    margin-bottom: 4em; 
}
.logos-grid .item {
    width: 90%;
}

@media screen and (max-width: 2560px) {
    .hamb {
        display: none;
    }
    .header {
        display: flex;
        justify-content: center;
    }
    .container-hero {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    
    #gradient-canvas {
        height: 51.6em;
    }
    .header {
        position: sticky;
        top: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 10% 10% 40% 10% 10%;
        grid-template-rows: 100%;
        display: flex;
        justify-content:space-between;
    }
    .nav{
        display: none;
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    } 
    .hamb {
        display:block;
        float: right;
        order: 3;
        padding: 0.7em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0.8em 1em 2.5em;
        border-radius: 1.12em;;
        border: none;
        width: 3.4em;
        height: 2.10em;
        background-color: rgba(250, 250, 250, 0.25) ;
    }
    .hamb-line {
        width:1.2em ;
    }
    .logo-swipe {
        margin-left: 1em;
        width: 4.2rem;
        height: 4rem;
    }
    .menu {
    display: none;
    }
    .btn.btn-dark {
    display: none;
    }
    .container-hero {
        width: 100%;
        height: 33.6em;
        margin-top: 1em;
    }
    .column-left {
    width: 35em;
    position: relative;
    display: flex;
    justify-content:baseline;
    }
    .info-left {
    width: 34em;
    height: 30em;
    justify-content:center;
    padding-left: 2.5em;
    }
    
    .headline {
    font-size: 3.5em;
    padding:0.31em 1.1em 0 0;
    justify-content:center;
    text-align: left;
    }
    .p-left {
        font-size: 1.10em;
        font-weight: 400;
        color: #000;
        margin: 0.3em 0 0 0; 
    }
    .container-btn {
        display: grid;
        grid-template-columns: 33% 67% ;
        align-items:flex-start;
        margin: 0.em 0 5.7em;
        padding-top: 1.59em; 
    }
    .column-right {
        width: 15.9em;
        height: 33em;
        justify-content: center;
    }
    .phone-img {
    margin-top: 0.5rem;
    margin-right: 1.5em;
    width: 15.8em;
    }
    
    .logos-grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1em;
        margin-bottom: 4em;     
    }
    .logos-grid .item {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .column-right {
        display: none;
    }
    .column-left {
        width: 100%;
    }
    .info-left {
        width: 100%;
        padding: 0 1em 0 1em;
    }
    .headline {
        font-size: 2.5em;
        letter-spacing: -0.30;
        width: 100%;
        margin: 0;

    }
    p.p-left {
        font-size: 1em;
        margin: 1em 0;
        width: 16em;
    }
    .container-btn {
        display: grid;
        grid-template-columns: 45% 45%;
        column-gap: 1.2em;
        align-items: center;
    }
    button.btn-start {
        width: 6em;
        height: 3.5em;
        text-align: justify;
        padding: 0.5em 1em;
        text-align: center;
        line-height: 1.2;
    }
    .btn-contact-sales {
        margin-left: 2em;
    }
    .logos-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 0.9em;
        row-gap: 2em;
        margin-bottom: 4.1em;  
    }
    .logos-grid .item {
        width: 97%;
    }
}

@media screen and (max-width: 375px) {
    .column-right {
        display: none;
    }
    .column-left {
        width: 18em;
    }
    .info-left {
        padding: 0 1em 0 1em;
    }
    .headline {
        font-size: 3em;
        letter-spacing: -0.30;
    }
    .p-left {
        font-size: 1.10em;
        margin: 1em 0;
        width: 20em;
        height: 6.5em;
    }
    .container-btn {
        display: grid;
        grid-template-columns: 45% 45%;
        align-items: center;
    }
    button.btn-start {
        width: 7.1em;
        height: 3.5em;
        text-align: justify;
        padding: 0.5em 1em;
        text-align: center;
        line-height: 1.2;
    }
    
    .logos-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
        margin-bottom: 4em;  
    }
    .logos-grid .item {
        width: 97%;
    }
}

@media screen and (max-width: 425px) {
    .column-right {
        display: none;
    }
    .column-left {
        width: 18em;

    }
    .info-left {
        padding: 0 1em 0 1em;
    }
    .headline {
        font-size: 3em;
        letter-spacing: -0.30;
        width: 23.5em;
    }
    .p-left {
        font-size: 1.11em;
        margin: 1em 0;
        width: 16em;
    }
    .container-btn {
        display: grid;
        grid-template-columns: 31% 69%;
        align-items: center;
    }
    button.btn-start {
        width: 8.5em;
        height: 2.5em;
        text-align: justify;
        padding: 0.5em 1em;
        text-align: center;
        line-height: 1.2;
    }
    .logos-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 3em;
        row-gap: 1em;
        margin-top: -4.9em;
        margin-bottom: 4em;  

    }
    .logos-grid .item {
        width: 100%;
    }
}

/* <-- UNIFIED PLATFORM = UP --> */
.background-2 {
    background-color: #0A2540;
    font-size: 16px;
    z-index: 1;
}
.bgf-section2 {
    width: 100%;
    background-color: #f7f9fc;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
    z-index: -1;
}
.section-up {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
.container-up {
    width: 93%;
    padding: 0 0.1em; 

}
.subtitle {
    color:#6762F7;
    font-weight: 500;
    font-size: 1.06em;
    line-height:1.6em;
    margin: 1.3em 0.9em;
}
.h2-section2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.4;
    margin: 0.5em 0.31em 1em 0.4em;
}

.col-left2 p {
    font-size: 1.05em;
    margin: 1em 0.51em;
}

.col-left2 a {
    color: #6762F7;
    text-decoration: none;
    font-weight: 500;
}

.col-right2 p {
    font-size: 1.05em;
    margin: 1em 0.51em;
}

.col-right2 a {
    color: #6762F7;
    text-decoration: none;
    font-weight: 500;
}

.btn-start2 {
    background-color:#6762F7;
    color: white;
    border: none;
    border-radius: 1.12em;
    width: 8.62em;
    height: 2.37em;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.07em;
    display: flex;
    align-items:center;
    justify-content: center;  
    margin: 2em 0;
    margin-bottom: 3em;
    overflow: hidden;
}

.btn-start2:hover {
    opacity: 0.77;
    cursor: pointer;
    background-color: black;
    border-bottom: blueviolet;
    color:greenyellow;
}

img.start2-flecha2 {
    transition: ease-in-out 0.4s;
}
.btn-start2:hover .start2-flecha2 {
    transform: translateX(0.31em);
}

.imgs-section2 {
    width: 100%;
    display:flex;
    justify-content: center;
    overflow: hidden;
}
.container-imgs2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-imgs2 {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    row-gap:1em;
    column-gap:0.5em ;
    overflow: hidden;
}
.card {
    grid-area:1/1/3/3;
    width: 80%;
}
.slack {
    grid-area: 1/3/4/7;
    width:80%;
    height: 60%;
    border-radius: 1em;
}
.phone2 {
    grid-area: 2/1/4/3;
    width: 80%;
    margin-top: 1em;
}
.dash {
    grid-area: 3/3/7/7;
    width: 80%;
    height: 45%;
    margin-top: -0.6em;
    border-radius: 1em;
}

@media screen and (min-width: 768px) {

    .container-up {
        width: 97%;
        padding: 0 0.1em; 
    }
    .columns-p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1em;
    }
    .subtitle {
    margin-top: 4em;
    margin-left: 0;
    }
    .h2-section2 br {
    display: none;
    }
    .h2-section2 {
    width: 100%;
    font-size: 2.12em;
    margin-left: 0;
    }
    .grid-imgs2 {
    row-gap: 3em;
    }
    .card {
    width: 88%;
    }
    .phone2 {
    width: 88%;
    }
    .slack {
    width: 90%;
    }
    .dash {
    width: 90%;
    height: 45%;
    margin-top: -2.7em;
    }
    .bgf-section2 {
    width: 100%;
    background-color: #f7f9fc;
    clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 0% 100%);
    z-index: -1;
    }
}

@media screen and (min-width: 1024px) {
    .hamb {
        display: none;
    }
    .imgs-section2 {
        width: 100%;
    }
    .card {
        width: 87%;
    }
    .slack {
        width: 85%;
        height: 65%;
        border-radius: 0.5;
    }
    .phone2 {
        height: 97;
    }
    .dash {
        margin-top: 2em;
        width: 85%;
        height: 50%;
        margin-top: -1em;
    }
    .bgf-section2 {
        width: 100%;
        background-color: #f7f9fc;
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
        z-index: -1;
    }
}

/* SECCION-3 INTEGRATIONS */
.background-3 {
    background-color: #f7f9fc;
    font-size: 16px;
    z-index: 1;
}
.bgf-section3 {
    width: 100%;
    background-color: #0A2540;
    clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
    z-index: -1;
}
.section3 {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    width: 93%;
    padding: 0 0.1em; 
}
.col-left3 {
    display: flex;
    flex-direction: column;
    width: 96%;
}
.p-h3 {
    color: #00D4FF;
    font-size: 1.01em;
    margin-top: 2.5em;
}
.col-left3 h2 {
    color: white;
    font-weight: 600;
    font-size: 2.02em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}
.paragraph3 {
    color: white;
    font-size: 0.83em;
    font-weight: 300;
    margin-top: -0.3em;
}
.btn-start3 {
    background-color: #00D4FF;
    color: #0A2540;
    border: none;
    border-radius: 1.12em;
    width: 8em;
    height: 2.37em;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items:center;
    justify-content: center; 
    overflow: hidden;  
    margin: 0.7em 0 2em 0;
}
.btn-start3:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    border-bottom: blueviolet;
    color:#0A2540;
}
img.start3-flecha3 {
    transition: ease-in-out 0.4s;  
} 
.btn-start3:hover .start3-flecha3 {
    transform: translateX(0.31em);
}
.tools-icon {
    width: 19%;
    margin-bottom: 0.6em;
}
.grid3-icons h3 {
    color: white;
    font-size: 1em;
    margin: 0em 0 1.2em 0;
}
.btn-see {
    background-color: transparent;
    border: none;
    border-radius: 1.12em;
    width: 8.6em;
    height: 2.37em;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items:center;
    justify-content: center; 
    overflow: hidden;  
    margin: -0.5em 0 2em -0.5em;
}
.btn-see a {
    color: #00D4FF;
    text-decoration: none;
}
.btn-see:hover {
    cursor: pointer;
    background-color: transparent;
}
img.see-flecha3 {
    transition: ease-in-out 0.4s;  
} 
.btn-see:hover .see-flecha3 {
    transform: translateX(0.31em);
}
.cube-icon {
    width: 19%;
    margin: -1.2em 0 0.5em 0;
}
.col-right {
    display: none;
}
.btn-explore {
    background-color: transparent;
    border: none;
    border-radius: 1.12em;
    width: 10em;
    height: 2.37em;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items:center;
    justify-content: center; 
    overflow: hidden;  
    margin: -0.5em 0 2em -0.5em;
}
.btn-explore a {
    color: #00D4FF;
    text-decoration: none;
}
.btn-explore:hover {
    cursor: pointer;
    background-color: transparent;
}
img.explore-flecha3 {
    transition: ease-in-out 0.4s;  
} 
.btn-explore:hover .explore-flecha3 {
    transform: translateX(0.31em);
}
@media screen and (min-width: 768px) {
    .bgf-section3 {
        width: 100%;
        background-color: #0A2540;
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
        z-index: -1;
    }
    .section3 {
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns:50% 50%;
    }
    .col-left3 {
        margin-top: 6em;
    }
    .col-left3 p {
        margin-top: 0.5em;
    }
    .btn-start3 {
        width: 7.5em;
        height: 2.35em;
        font-size: 0.8rem;
        font-weight: bold;
        margin-top: 1.5em;
    }
    
    .grid3-icons {
        width: 100%;
        height: 17em;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        overflow: hidden;
        column-gap: 1em;
        row-gap: 0.2em;
    }
    .grid3-icons h3 {
        font-size: 1.5em;
    }
    .tools-icon {
        width: 25%;
        grid-area: 1/1/2/2;
        margin-top: 0.95em;
    }
    .tools-icon h3 {
        grid-area: 2/1/3/2;
        font-size: 1.2em;
    }
    .p-weoffer {
        grid-area: 3/1/4/2;
        font-size: 0.7em;
        margin-top: -1em;;
    }
    .btn-see {
        grid-area: 4/1/5/2;
        font-size: 0.9em;
    }
    .cube-icon {
        width: 25%;
        grid-area: 1/2/2/3;
        margin-top: 0.7em;
    }
    .cube-icon h3 {
        grid-area: 1/2/2/3;
        font-size: 1.2em;
    }
    .p-useIntegrations {
        grid-area: 3/2/4/3;
        font-size: 0.7em;
        margin-top: -2.3em;
    }
    .btn-explore {
        grid-area: 4/2/5/3;
        font-size: 0.9em;
    }
    .col-right {
        display: block;
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 98%;
        margin-top: 8em;
        margin-left:1em ;
    }
    .api-code {
        width: 100%;
        border-radius: 1em;
        margin-top: -1em;
    }
    .terminal-code {
        width: 100%;
        height: 78%;
        border-radius: 1em;
        margin-top: -3.9em;
        margin-bottom: 9em;
    }
}
@media screen and (min-width: 1024px) {
    .section3 {
        display: grid;
        grid-template-columns:55% 45%;
    }
    .btn-start3 {
        margin-top: 3em ;
    }
    .col-left3 {
        margin-left: -0.8em;
    }
    .grid3-icons {
        row-gap: 1em;
        height: 21em;
        width: 100%;
    }
    .tools-icon {
        width: 20%;
        margin-top: 3em;
    }
    .cube-icon {
        width: 20%;
        margin-top: 3em;
    }
    .grid3-icons h3 {
        font-size: 2em;
    }
    .paragraph3 {
        font-size: 1em;
        margin: 0.1em 0.1em;
    }
    .btn-see {
        margin-top: 0.2em;
    }
    .btn-explore {
        margin-top: 0.2em;
    }
}
@media screen and (min-width: 1440px) {
    .grid3-icons {
        font-size: 1.1em;
        margin-top: -2em;
    }
    .paragraph3 {
        font-size: 1rem;
    }

    /* SECTION -4 -WHY SWIPE */
}
.background-4 {
    background-color: #0A2540;
    font-size: 16px;
    z-index: 1;
}
.bgf-section4 {
    display: grid;
    width: 100%;
    background-color: #f7f9fc;
    clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
    z-index: -1;
}
.section-4 {
    width: 100%;
    padding: 0.1rem;
    border: 2px solid black;
}
.why-swipe {
    font-size:1em;
    color: #6962F7;
    font-weight: 600;
    padding: 3rem 0 1rem 1rem;
}
.h2-tech {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.3px;
    padding: 0 0 1rem 1rem;
}
.container-grid-4 {
    width: 90%;
    display: grid;
    grid-template-rows:1fr 0.5fr 2fr 1fr 0.5fr 2fr 1fr 0.5fr 2fr 1fr 0.5fr 2fr;
    margin:0 1rem 3rem 1rem;
    font-size: 16px;
}
.img4-1 {
    width: 13%;
    grid-row: 1; 
}
.h3-section4 {
    font-size: 1em;
    font-weight: 600;
}
.p-section4 {
    font-size: 0.89em;
} 
.img4-2 {
    width: 13%;
    grid-row: 4;
}.img4-3 {
    width: 13%;
    grid-row: 7;
}.img4-4 {
    width: 13%;
    grid-row: 10;
}
.img4 {
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
    .container-grid-4 {
        width: 90%;
        height: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 12.5% 62.5%;
        overflow-wrap: hidden;
    }
    /* medidas generales */
    .h3-section4 {
        font-size: 1rem;
        font-weight: 600;
    }
    .p-section4 {
        font-size: 0.80em;
    } 
    .img4 {
        margin-bottom: 0.5rem;
        width: 13%;
    }
    .img4-1 {
        grid-area:1/1/2/2 ;
    }
    #h3-1 {

    }
    .img4-2 {
        grid-area: 1/2/2/3
    }.img4-3 {
        grid-area: 4/1/5/2;
    }.img4-4 {
        grid-area: 4/2/5/3;
    }
    
}

